@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}
<div class="row">
    <div class="col-md-4">
        <form method="post" action="/Auth/Register">
            <div>
                <label for="FirstName">First Name:</label>
                <input type="text" id="FirstName" name="FirstName" class="form-control" required />
            </div>
            <div>
                <label for="LastName">Last Name:</label>
                <input type="text" id="LastName" name="LastName" class="form-control" required />
            </div>
            <div>
                <label for="Email">Email Address:</label>
                <input type="email" id="Email" name="Email" required class="form-control" />
            </div>
            <div>
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="Password" required class="form-control" />
            </div>
            <div>
                <label for="ConfirmPassword">Confirm Password:</label>
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" required class="form-control" />
                @if (ViewBag.Error != null && ViewBag.Error.errorMessage != null)
                {
                    <p class="text-danger">@ViewBag.Error.errorMessage</p>
                }
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <a href="/Auth/Login">Login</a>
    </div>
</div>
